.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  background-color: white;
}

.header {
  width: 940px;
  height: 84px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoWrapper {
  cursor: pointer;
  width: 136px;
  heith: 84px;
}

.logo {
  font-weight: lighter;
  font-family: 'Thasadith', sans-serif;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #FF3333;
  color: white;
  position: relative;
}

.logo :nth-child(1) {
  font-weight: 100;
  position: absolute;
  top: 27px;
  left: 10px;
}

.logo :nth-child(2) {
  position: absolute;
  top: 39px;
  left: 37px;
}

.nav {
  width: 335px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px #EAEAEA;
  margin: 40px 0 0 0;
  color: #959A9E;
}

.navItem {
  margin: 0 0 0 10px;
  cursor: pointer;
}

.searchBar {
  border-top: solid 1px #D8D8D8;
  width: 100%;
  height: 67px;
  background-color: #596166;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar input {
  width: 263px;
  height: 24px;
  background-color: #596166;
  border: none;
  border-bottom: solid 0.5px #EAEAEA;
  color: #EAEAEA;
  outline: none;
}

.searchBar i {
  color: #EAEAEA;
  font-size: 13px;
  margin-right: 10px;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #596166;
}

.category {
  width: 917px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.dateRangeTab {
  width: 917px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to{
    height: 405px;
    animation-play-state: paused;
    padding: 0 0 20px 0;
  }
}

@keyframes slideDownCalander {
  from {
    height: 0px;
  }
  to{
    height: 265px;
    animation-play-state: paused;
  }
}

.source {
  margin: 0 5px 0 5px;
  background-color: #464E54;
  color: #EAEAEA;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 12px;
  vertical-align: baseline;
  margin-top: 5px;
  cursor: pointer;
}

.source:hover {
  transition: all 0.5s ease-out;
  margin: 0 5px 0 5px;
  background-color: #B71C1C;
  color: #EAEAEA;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 12px;
  vertical-align: baseline;
  margin-top: 5px;
  cursor: pointer;
}

.selectedFilter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.selectedDate {
  width: 917px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.selectedSources {
  width: 917px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 15px 0;
  flex-wrap: wrap;
}

.filterName {
  color: #EAEAEA;
  font-weight: normal;
}

.selectedSource {
  margin: 0 5px 0 5px;
  background-color: #EAEAEA;
  color: #464E54;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 12px;
  vertical-align: baseline;
  margin-top: 5px;
  cursor: pointer;
}

.selectedSource i {
  margin: 0 0 0 5px;
}

.alertMessage {
  margin: 130px 0 0 0;
}
