
.news {
  border-radius: 5px;
  width: 833px;
  height: 150px;
  background-size: 100%;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 30%);
}

.image {
  border-radius: 5px 0 0 5px;
  width: 333px;
  height: 150px;
}

.newsInfo {
  border-radius: 0 5px 5px 0;
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
}

.title {
  font-size: 20px;
  text-align: left;
  margin: 5px 0 5px 10px;
}

.detail {
  font-size: 10px;
  margin: 2px 0 2px 10px;
  text-align: left;
}

.newsListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
